#product-main {
	display: flex;
	float: none;
	width: 100%;
}

#product-img {
	display: block;
	float: left;
	width: 64%;
	padding: 1%;
	height: auto;
	object-fit: cover;
}

#product-right {
	display: block;
	float: right;
	width: 33%;
}

#product-name {
	display: block;
	font-size: 24pt;
}

#product-price {
	display: block;
	font-size: 18pt;
}

#product-info {
	display: block;
	font-size: 14pt;
	margin: 10px;
}

#miniwrap {
	display: table-row;
	table-layout: fixed;
	height: 100px;
}

#product-showcase {
	display: block;
	float: left;
	width: 50%;
	height: 100px;
	background-color: peachpuff;
}

#product-actions {
	display: block;
	/* align-content: center; */
	float: right;
	width: 50%;
	height: 100px;
	background-color: palegoldenrod;
}

#product-actions input[type=button] {
	display: block;
	float: right;
	width: 20%;
	margin: 10px 5% 10px 5%;
	padding: 10px 0;
	border-radius: 6px;
	border-width: 0;
	background-color: palevioletred;
	color: white;
	text-align: center;
	font-size: 10%;
}
